@model IEnumerable<RegistroUsuarios.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Empleados</h1>

<p>
    <a asp-action="Create">Crear Nuevo Empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadHijos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BonoDecreto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Igss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Irtra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BonoPaternidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioLiquido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DPI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadHijos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BonoDecreto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Igss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Irtra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BonoPaternidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioLiquido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
